<section id="services" class="page">
    <div class="container">
        <div class="content text-center">
            <div class="heading">
                <h2 class="mt-0 mb-4">Recherche d'alternance en Intelligence Artificielle.</h2>
                <div class="border"></div>
                <p class="mt-4 mb-0">Jeune développeur, je mets en avant mes projets 
                    personnels en Python dans le but de vous montrer mes compétences et de vous
                    donner une idée de mon niveau (afin de progresser).</p>
            </div>
            <div class="row">
                <div class="col-sm-4 service animated hiding" data-animation="fadeInUp" data-delay="300">
                    <i class="fa fa-globe fa-5x"></i>
                    <h3 class="mt-5 mb-4"><a href="{% url 'site_web' %}">Mes sites webs</a></h3>
                    <p>Voici mes sites web avec leurs fonctionnalités.</p>
                </div>
                <div class="col-sm-4 service animated hiding" data-animation="fadeInUp" data-delay="600">
                    <i class="fa fa-cloud fa-5x"></i>
                    <h3 class="mt-5 mb-4"><a href="{% url 'conception' %}">Mes documents de conception</a></h3>
                    <p>Voici des exemples de document pour faire des sites web.</p>
                </div>
                <div class="col-sm-4 service animated hiding" data-animation="fadeInUp" data-delay="900">
                    <i class="fa fa-mobile fa-5x"></i>
                    <h3 class="mt-5 mb-4"><a href="{% url 'projets' %}">Mes applications</a></h3>
                    <p>Voici des projets qui m'ont appris des choses.</p>
                </div>
            </div>
        </div>
    </div>
</section>