{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'layout/footer.css' %}" />
<div class="separator"></div>
<section id="footer">
    <h1 id="titre_footer">Le caffé de Paris</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm" id="footer_section1">
                <div class="row" id="row_footer">
                    <div class="col-sm">
                        <div id="titre_social">SITE MAP</div>
                        <div>Nos menus</div>
                        <div>Notre équipe</div>
                        <div>Réservation</div>
                        <div class="separator"></div>
                        <div id="titre_social">SOCIAL</div>
                        <div class="li_inline">
                            <img src="https://img.icons8.com/material-sharp/50/000000/facebook-circled--v1.png" class="img_social"/>
                        </div>
                        <div class="li_inline">
                            <img src="https://img.icons8.com/android/50/000000/twitter.png" class="img_social"/>
                        </div>
                        <div class="li_inline">
                            <img src="https://img.icons8.com/material-sharp/50/000000/snapchat.png" class="img_social"/>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div id="titre_social">LOCALISATION</div>
                        <div>
                            <p>
                                Le caffé de Paris <br>
                                Rue de l'hôtel de VI à Crest <br>
                                26400 Crest <br>
                                Rhone Alpes.
                            </p>
                        </div>
                        <div class="separator"></div>
                        <div id="titre_social">HORRAIRE</div>
                        <div>Du Lundi au Dimanche de 12h à 22h.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm" id="footer_section2">
                <div id="titre_social">CONTACT</div>
                <div>Télphone: 0475252525</div>
                <div>Mail: lecaffédeparis@hotmail.fr</div>
                <div>Site web: www.lecaffédeparis.fr</div>
            </div>
        </div>
    </div>
</section>
<section id="footer_responsive">
    <center>
        <h1 id="titre_footer">Le caffé de Paris</h1>
        <div id="titre_social">SITE MAP</div>
        <div>Nos menus</div>
        <div>Notre équipe</div>
        <div>Réservation</div>
        <div class="separator"></div>
        <div id="titre_social">SOCIAL</div>
        <div class="li_inline">
            <img src="https://img.icons8.com/material-sharp/50/000000/facebook-circled--v1.png" class="img_social"/>
        </div>
        <div class="li_inline">
            <img src="https://img.icons8.com/android/50/000000/twitter.png" class="img_social"/>
        </div>
        <div class="li_inline">
            <img src="https://img.icons8.com/material-sharp/50/000000/snapchat.png" class="img_social"/>
        </div>
        <div class="separator"></div>
        <div id="titre_social">LOCALISATION</div>
        <div>
            <p>
                Le caffé de Paris <br>
                Rue de l'hôtel de VI à Crest <br>
                26400 Crest <br>
                Rhone Alpes.
            </p>
        </div>
        <div class="separator"></div>
        <div id="titre_social">HORRAIRE</div>
        <div>Du Lundi au Dimanche de 12h à 22h.</div>
        <div class="separator"></div>
        <div id="titre_social">CONTACT</div>
        <div>Télphone: 0475252525</div>
        <div>Mail: lecaffédeparis@hotmail.fr</div>
        <div>Site web: www.lecaffédeparis.fr</div>
        <div class="separator"></div>
    </center>
</section>












<section id="bandeau1">
    <center>
        <div class="align_top">
            <div class="separator_5vh"></div>
            Le Caffé de Paris
        </div>
    </center>
</section>
<section id="bandeau2">
    <center>
        <div class="align_top">
            <div class="separator_5vh"></div>
            Fait par jb
        </div>
    </center>
</section>