<section class="displaying_menu" id="adulte">
    <div class="separator"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm grid">
                <div class="to_right section_plat">
                    <center>
                        <div class="titre_carte">NOTRE PLAT DU JOUR</div>
                        <div class="container_product">
                            <center>
                                <button class="product" value="/static/img/home.jpg°ethod uses the browser's innerHTML property. Some browsers may not return HTML that exactly replicates the HTML source in an original document.°15 euro">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                            </center>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-sm grid picture"></div>
        </div>
        <div class="row">
            <div class="col-sm grid picture"></div>
            <div class="col-sm grid">
                <div class="to_left section_plat">
                    <center>
                        <div class="titre_carte">NOS ENTREES</div>
                        <div class="container_product">
                            <center>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                            </center>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm grid">
                <div class="to_right section_plat">
                    <center>
                        <div class="titre_carte">NOS PLATS</div>
                        <div class="container_product">
                            <center>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                            </center>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-sm grid picture"></div>
        </div>
        <div class="row">
            <div class="col-sm grid picture"></div>
            <div class="col-sm grid">
                <div class="to_left section_plat">
                    <center>
                        <div class="titre_carte">NOS DESSERTS</div>
                        <div class="container_product">
                            <center>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                                <button class="product" value="/static/img/home.jpg">La salade verte</button>
                                <button class="product" value="/static/img/home.jpg">La salade de tomate</button>
                            </center>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="displaying_menu" id="adulte_responsive">
    <div class="container-fluid">

        <center>
            <div class="col-sm grid picture"></div>
            <div class="titre_carte_res">NOTRE PLAT DU JOUR ADULTE</div>
            <div class="container_product">
                <center>
                    <div class="container_button">
                        <center>
                            <button class="product_res" value="/static/img/home.jpg°ethod uses the browser's innerHTML property. Some browsers may not return HTML that exactly replicates the HTML source in an original document.°15 euro">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                        </center>
                    </div>
                </center>
            </div>
            <div class="col-sm grid picture"></div>
            <div class="titre_carte_res">NOS ENTREES</div>
            <div class="container_product">
                <center>
                    <div class="container_button">
                        <center>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                        </center>
                    </div>
                </center>
            </div>
            <div class="col-sm grid picture"></div>
            <div class="titre_carte_res">NOS PLATS PRINCIPAUX</div>
            <div class="container_product">
                <center>
                    <div class="container_button">
                        <center>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                        </center>
                    </div>
                </center>
            </div>
            <div class="col-sm grid picture"></div>
            <div class="titre_carte_res">NOS DESSERTS</div>
            <div class="container_product">
                <center>
                    <div class="container_button">
                        <center>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade verte</button>
                            <button class="product_res" value="/static/img/home.jpg">La salade de tomate</button>
                        </center>
                    </div>
                </center>
            </div>
        </center>
    </div>
</section>
